.app-bar {
    background-color: var(--primary);
    display: flex;
    padding: 0 5%;
    align-items: center;
}

.app-bar-title-container {
    flex: 1;
}

.app-bar-title {
    color: var(--text-light);
    text-decoration: none;
    font-size: 2rem;
}

.app-bar-links {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.app-bar-link {
    color: var(--text-light);
    border-bottom: 2px solid var(--primary);
    flex: 1;
    font-size: 1.125rem;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
}

.app-bar-link:hover {
    border-bottom-color: var(--text-light);
}

.app-bar-links-open {
    display: flex;
}

@media (max-width: 768px) {
    .app-bar-links {
        background: var(--primary);
        position: absolute;
        right: 0;
        top: 7.5vh;
        display: none;
        width: 60%;
        height: 92.5%;
    }

    .app-bar-link {
        border: none;
        display: block;
        width: 100%;
    }

    .app-bar-link:hover {
        background: var(--dark-blue);
    }

    .app-bar-links-open {
        display: block;
    }
}