.navbar {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.navbar-title {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.navbar-links-container {
    /* */
}

.navbar-links-container a {
    color: var(--light-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;
    transition: 0.25s;
}

.navbar-links-container a:hover {
    color: #87CEEB;
}

@media (max-width: 768px) {
    .navbar {
        
    }
}
