:root {
    /* Colors */
    --primary: #4169E1;
    --dark-blue: #0E4D92;
    --bg-dark: #222831;
    --bg-light: #fff;
    --text-dark: #000;
    --text-light: #fff;

    font-family: "Segoe UI", serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}