.intro-get-started-btn {
    background: var(--primary);
    border-radius: 5px;
    color: var(--text-light);
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 15px 30px;
}